<section class="text-white body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap gap-6" bis_skin_checked="1">
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10" bis_skin_checked="1">
      <div class="w-full sm:p-4 px-4 mb-6" bis_skin_checked="1">
        <h1 class="title-font font-medium text-xl mb-2 text-isu-yellow">The most diverse and multicultural students!</h1>
        <div class="leading-relaxed text-justify" bis_skin_checked="1">At the <span class="font-bold">University of Debrecen</span> we are proud to be part of an imense beautiful and diverse community! We are from more than <span class="font-bold">dozens of different countries</span>, from all accross the globe. The <span>International Student Union (ISU)</span> is responsible for representing all the foreign students at UD. We are distributed among all the english speaking faculties and we organise community events, mental health workshops and intervene to guarantee that the quality of education at UD stays always improving!</div>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2" bis_skin_checked="1">
        <h2 class="title-font font-medium text-3xl text-isu-yellow">10.000</h2>
        <p class="leading-relaxed">Foreign students</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2" bis_skin_checked="1">
        <h2 class="title-font font-medium text-3xl text-isu-yellow">9</h2>
        <p class="leading-relaxed">Faculties</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2" bis_skin_checked="1">
        <h2 class="title-font font-medium text-3xl text-isu-yellow">50</h2>
        <p class="leading-relaxed">Representatives</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2" bis_skin_checked="1">
        <h2 class="title-font font-medium text-2xl text-isu-yellow">3 milion ft+</h2>
        <p class="leading-relaxed">Donated to charity <span class="text-xs">(since 2019)</span></p>
      </div>
    </div>
        <%= image_tag "fd_night_1.jpg", class:"ml-6 max-w-2xl h-auto rounded-lg shadow-md shadow-yellow" %>
  </div>
</section>